# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Neo4j
NEO4J_AUTH=
NEO4J_PASSWORD=

# RabbitMQ
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=

# JWT
JWT_SIGNER_KEY=
JWT_VALID_DURATION=
JWT_REFRESHABLE_DURATION=