POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
NEO4J_AUTH=
NEO4J_PASSWORD=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
ADMIN_EMAIL=
ADMIN_PASSWORD=
JWT_SIGNER_KEY=
JWT_VALID_DURATION=
JWT_REFRESHABLE_DURATION=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=