#postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
#neo4j
NEO4J_AUTH=
#rabbitmq
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
#mongodb
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_DB=
#auth-service
AUTHENTICATION_SCHEMA=
ADMIN_EMAIL=
ADMIN_PASSWORD=
JWT_SIGNER_KEY=
JWT_VALID_DURATION=
JWT_REFRESHABLE_DURATION=
#profile-service
NEO4J_USERNAME=
NEO4J_PASSWORD=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
#task-service
TASK_SCHEMA=
#notification-service
NOTIFICATION_EMAIL_BREVO_APIKEY=